%h1= I18n.t("greeting")
%p= I18n.t("introduction")

%p= I18n.t("howto_url")
%code https://koehr.in:2342/+491234567890

%p= I18n.t("howto_input")
%form( action="/" method="POST" )
  %code
    https://koehr.in:2342/
    %input( type="tel" name="number" )

%p= I18n.t("appendix")

